<html>
	<head>
		<title>
			@blog.com
		</title>
	</head>
	<body>
		<div>
			<h1><a href="/"></a></h1>
		</div>

		<div>
			<p>@blog.com</p>
			<h2><a href="">The privacy policy For MerDia</a></h2>

			<p>The data is being used only for accademic purpose.</p>
			<p>The data will be secured and not publised to anyone.</p>
			<p>The application fetchs the direct messages only for an conversation between the company and the client.</p>
			<p>The system will be strictly sercured to makesure that data is being used correctly</p>
			<p>Data will not published to anyone</p>
			<p>Data on MerDia is secured </p>
		</div>
		
</body>
</html>